body {
    position: relative;
}
.container{
	width:1000px;
}
body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: 微软雅黑,Tahoma,Verdana;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}
input[type=button]:focus,input[type=submit]:focus{outline:none;}
input[type=button]::-moz-focus-inner{outline:0;}

a{outline:none;}
h3,h4{
	color:#33B5E5;
}
.jumbotron{
    margin-top:40px;
    height:170px;
    text-align: center;
}

.search-div{
	margin-top:15px;
}
.search-div+p a{
	color:gray;
}
.center-content i{
	color:#FF9933;
}

.quick-links-widget {
    border: 1px solid #D7D9DC;
    padding: 10px 15px 10px;
}
.quick-links-widget a{
	color:#000000;
}

.quick-links-widget .p1,.p2{
	margin-top:20px;
}
.quick-links-widget .p2 a{
	margin-left:8px;
}
.hot-model-widget{
    border: 1px solid #D7D9DC;
    padding: 10px 10px 10px 10px; 
}
.hot-model-widget .hot-model a{
	font-size:12px;
	padding: 2px 3px;
	margin-top:5px;
}
.hot-model-widget{
    border: 1px solid #D7D9DC;
    padding: 10px; 
}
.phone-widget{
	border: 1px solid #D7D9DC;
    padding: 10px 10px 0px 10px;
}
.phone-widget p{
	margin-left:40px;
	margin-top:10px;
}
